<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<h1>Lista de Categorias</h1>

<table border="1">
    <tr>
        <td>Nome</td>
        <td>Descrição</td>
    </tr>
    <tr th:each="ranking : ${rankings}">
        <td th:text="${ranking.corrida.nome}"></td>
        <td th:text="${ranking.categoria.descricao}"></td>
        <td><a th:href="@{'/ranking/edit/' + ${ranking.id}}" >Editar</a></td>
        <td><a th:href="@{'/ranking/delete/' + ${ranking.id}}">Excluir</a></td>
    </tr>
</table>
<a th:href="@{~/ranking/add}">Adicionar</a>
<a href="/">Voltar</a>
</body>
</html>