<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Adicionar Ingresso </h1>

<form method="post">
    <table>
        <tr>
            <td>Num. Inscrição: </td>
            <td><input class="form-control" type="text" name="numInscricao" disabled/></td>
        </tr>
        <tr>
            <td>Atleta: </td>
            <td>
                <select class="form-control" name="atleta">
                    <option value="0">Selecione um Atleta</option>
                    <option th:each ="atleta : ${atletas}" th:value="${atleta.cpf}" th:text="${atleta.cpf + ' - ' + atleta.nome}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Corrida: </td>
            <td>
                <select class="form-control" name="corrida">
                    <option value="0">Selecione uma Corrida</option>
                    <option th:each ="corrida : ${corridas}" th:value="${corrida.id}" th:text="${corrida.nome}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Lote: </td>
            <td>
                <select class="form-control" name="lote">
                    <option value="0">Selecione um Lote</option>
                    <option th:each ="lote : ${lotes}" th:value="${lote.id}" th:text="${lote.corrida.nome + ' - R$' + lote.preco}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Kit: </td>
            <td>
                <select class="form-control" name="kit">
                    <option value="0">Selecione um Kit</option>
                    <option th:each ="kit : ${kits}" th:value="${kit.numPeito}" th:text="${kit.numPeito}"></option>
                </select>
            </td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Adicionar Ingresso"/>
</form>

</body>
</html>