<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Deletar Ingresso</h1>

<form th:object="${ingresso}" method="post">
    <table>
        <tr>
            <td>Num. Inscrição: </td>
            <td><input type="text" th:value="${ingresso.numInscricao}" name="numInscricao" disabled/></td>
        </tr>
        <tr>
            <td>Kit: </td>
            <td>
                <select  name="kit" disabled>
                    <option value="0">Selecione um Kit</option>
                    <option th:each ="kit : ${kits}" th:value="${kit.numPeito}" th:selected="${kit} == *{kit}" th:text="${kit.numPeito + ' - Camisa:' + kit.camisa}" ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Lote: </td>
            <td>
                <select  name="lote" disabled>
                    <option value="0">Selecione um Lote</option>
                    <option th:each ="lote : ${lotes}" th:value="${lote.id}" th:selected="${lote} == *{lote}" th:text="${lote.corrida.nome + ' - R$' + lote.preco}" ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Atleta: </td>
            <td>
                <select  name="lote" disabled>
                    <option value="0">Selecione um Atleta</option>
                    <option th:each ="atleta : ${atletas}" th:value="${atleta.cpf}" th:selected="${atleta} == *{atleta}" th:text="${atleta.cpf + ' - ' + atleta.nome}" ></option>
                </select>
            </td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Deletar"/>
</form>
</body>
</html>