<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Deletar </h1>

<form th:object="${categoria}" method="post">
    <table>
        <tr>
            <td>ID: </td>
            <td><input class="form-control" th:value="*{id}" type="number" name="id" disabled/></td>
        </tr>
        <tr>
            <td>Sexo: </td>
            <td><input class="form-control" th:value="*{sexo}" type="text" name="sexo" disabled/></td>
        </tr>

        <tr>
            <td>Idade Inicial: </td>
            <td><input class="form-control" th:value="*{idadeIni}" type="text" name="idadeIni" disabled/></td>
        </tr>
        <tr>
            <td>Idade Final: </td>
            <td><input class="form-control" th:value="*{idadeFim}" type="text" name="idadeFim" disabled/></td>
        </tr>
        <tr>
            <td>Descrição: </td>
            <td><input class="form-control" th:value="*{descricao}" type="text" name="descricao" disabled/></td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Excluir"/>
</form>
</body>
</html>