<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Adicionar Kit </h1>

<form method="post">
    <table>
        <tr>
            <td>Num. Peito: </td>
            <td><input class="form-control" type="text" name="numPeito" disabled/></td>
        </tr>
        <tr>
            <td>Camisa: </td>
            <td>
                <INPUT class="form-control" TYPE="radio" NAME="camisa" VALUE="P"> P
                <INPUT class="form-control" TYPE="radio" NAME="camisa" VALUE="M"> M
                <INPUT class="form-control" TYPE="radio" NAME="camisa" VALUE="G"> G
                <INPUT class="form-control" TYPE="radio" NAME="camisa" VALUE="GG"> GG
                <INPUT class="form-control" TYPE="radio" NAME="camisa" VALUE="B"> BabyLook
            </td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Adicionar Kit"/>
</form>

</body>
</html>