<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Adicionar Kit </h1>

<form method="post">
    <table>
        <tr>
            <td>Num. Peito: </td>
            <td><input class="form-control" type="text" name="numPeito" disabled/></td>
        </tr>
        <tr>
            <td>Nome: </td>
            <td><input class="form-control" type="text" name="nome"/></td>
        </tr>
        <tr>
            <td>Descrição: </td>
            <td><textarea class="form-control" rows="4" cols="30" name="descricao"></textarea></td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Adicionar Kit"/>
</form>

</body>
</html>