<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Editar </h1>

<form th:object="${kit}" method="post">
    <table>
        <tr>
            <td>Num. Peito: </td>
            <td><input class="form-control" type="text" th:value="*{numPeito}" name="numPeito" disabled/></td>
        </tr>
        <tr>
            <td>Camisa: </td>
            <td>
                <INPUT class="form-control" TYPE="radio" th:checked="*{camisa == 'P'}" NAME="camisa" VALUE="P"> P
                <INPUT class="form-control" TYPE="radio" th:checked="*{camisa == 'M'}" NAME="camisa" VALUE="M"> M
                <INPUT class="form-control" TYPE="radio" th:checked="*{camisa == 'G'}" NAME="camisa" VALUE="G"> G
                <INPUT class="form-control" TYPE="radio" th:checked="*{camisa == 'GG'}" NAME="camisa" VALUE="GG"> GG
                <INPUT class="form-control" TYPE="radio" th:checked="*{camisa == 'B'}" NAME="camisa" VALUE="B"> Baby Look
            </td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Editar"/>
</form>

</body>
</html>