<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Editar </h1>

<form th:object="${kit}" method="post">
    <table>
        <tr>
            <td>Num. Peito: </td>
            <td><input class="form-control" type="text" th:value="*{numPeito}" name="numPeito" disabled/></td>
        </tr>
        <tr>
            <td>Nome: </td>
            <td><input class="form-control" type="text" th:value="*{nome}" name="nome"/></td>
        </tr>
        <tr>
            <td>Descrição: </td>
            <td><input class="form-control" th:value="*{descricao}" name="descricao"></td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Editar"/>
</form>

</body>
</html>