<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title> Relatorio </title>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div class="content-wrapper">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Relatórios</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Corrida</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/teste'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>