<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title> Relatorio </title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="relatorio">Relatórios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="administrador" class="dropdown-item">Administrador</a>
                    <a href="organizador" class="dropdown-item">Organizador</a>
                    <a href="atleta" class="dropdown-item">Atleta</a>
                    <a href="tapete" class="dropdown-item">Tapete</a>
                    <a href="categoria" class="dropdown-item">Categoria</a>
                    <a href="percurso" class="dropdown-item">Percurso</a>
                    <a href="corrida" class="dropdown-item">Corrida</a>
                    <a href="ranking" class="dropdown-item">Ranking</a>
                    <a href="kit" class="dropdown-item">Kit</a>
                    <a href="lote" class="dropdown-item">Lote</a>
                    <a href="ingresso" class="dropdown-item">Ingresso</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Administradores</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Administradores'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Atletas</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Atletas'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Organizadores</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Organizadores'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Corridas</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Corridas'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Categorias</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Categorias'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Percursos</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Percursos'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Lotes</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Lotes'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-primary o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-flag-checkered fa-lg"></i>
                        </div>
                        <div class="mr-5"> Lista de Ingressos</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" th:href="@{'~/relatorio/Ingressos'}">
                        <span class="float-left">Gerar Relatorio</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
        </div>
        </div>
</div>


</body>
</html>