<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Editar </h1>

<form th:object="${percurso}" method="post" id="percursoForm">
    <table>
        <tr>
            <td>ID: </td>
            <td><input th:value="*{id}" type="text" name="id" disabled/></td>
        </tr>
        <tr>
            <td>Distância: </td>
            <td><input th:value="*{distancia}" type="number" name="distancia" /></td>
        </tr>
        <tr>
            <td>Itinerário: </td>
            <td><input th:value="*{itinerario}" type="text" name="itinerario"/></td>
        </tr>
        <tr>
            <td>Descrição: </td>
            <td><input th:value="*{descricao}" name="descricao"></td>
        </tr>
    </table>
    <input type="submit" value="Editar"/>
</form>

</body>
</html>