<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Deletar </h1>

<form th:object="${atleta}" method="post">
    <table>
        <tr>
            <td>CPF: </td>
            <td><input class="form-control" th:value="*{cpf}" type="text" name="cpf" disabled/></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input class="form-control" th:value="*{email}" type="text" name="email" disabled/></td>
        </tr>
        <tr>
            <td>Senha: </td>
            <td><input class="form-control" th:value="*{senha}" type="text" name="senha" disabled/></td>
        </tr>
        <tr>
            <td>Nome: </td>
            <td><input class="form-control" th:value="*{nome}" type="text" name="nome" disabled/></td>
        </tr>
        <tr>
            <td>Data de Nascimento: </td>
            <td><input class="form-control" th:value="*{data_nascimento}" type="text" name="data_nascimento" disabled/></td>
        </tr>
        <tr>
            <td>Rua: </td>
            <td><input class="form-control" th:value="*{rua}" type="text" name="rua" disabled/></td>
        </tr>
        <tr>
            <td>Sexo: </td>
            <td><input class="form-control" th:value="*{sexo}" type="text" name="sexo" disabled/></td>
        </tr>
        <tr>
            <td>Telefone Residencial: </td>
            <td><input class="form-control" th:value="*{telRes}" type="text" name="telRes" disabled/></td>

        </tr>
        <tr>
            <td>Telefone Celular: </td>
            <td><input class="form-control" th:value="*{telCel}" type="text" name="telCel" disabled/></td>

        </tr>
        <tr>
            <td>CEP: </td>
            <td><input class="form-control" th:value="*{cep}" type="text" name="cep" disabled/></td>
        </tr>
        <tr>
            <td>UF: </td>
            <td><input class="form-control" th:value="*{uf}" size="1" maxlength="2" type="text" name="uf" disabled/></td>
        </tr>
        <tr>
            <td>Cidade: </td>
            <td><input class="form-control" th:value="*{cidade}" type="text" name="cidade" disabled/></td>
        </tr>
        <tr>
            <td>Pace: </td>
            <td><input class="form-control" th:value="*{pace}" type="text" name="pace" disabled/></td>
        </tr>
        <tr>
            <td>Camisa: </td>
            <td><input class="form-control" th:value="*{camisa}" type="text" name="apelido" disabled/></td>
        </tr>
        <tr>
            <td>Apelido: </td>
            <td><input class="form-control" th:value="*{apelido}" type="text" name="apelido" disabled/></td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Excluir"/>
</form>

</body>
</html>