<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Editar </h1>

<form th:object="${atleta}" method="post">
    <table>
        <tr>
            <td>CPF: </td>
            <td><input th:value="*{cpf}" type="number" name="cpf" readonly/></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input th:value="*{email}" type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Senha: </td>
            <td><input th:value="*{senha}" type="text" name="senha"/></td>
        </tr>
        <tr>
            <td>Nome: </td>
            <td><input th:value="*{nome}" type="text" name="nome"/></td>
        </tr>
        <tr>
            <td>Data de Nascimento: </td>
            <td><input th:value="*{data_nascimento}" type="date" name="data_nascimento"/></td>
        </tr>
        <tr>
            <td>Rua: </td>
            <td><input th:value="*{rua}" type="text" name="rua"/></td>
        </tr>
        <tr>
            <td>Sexo: </td>
            <td>
                <INPUT TYPE="radio" th:checked="*{sexo == 'M'}" NAME="sexo" VALUE="M"> Masculino
                <INPUT TYPE="radio" th:checked="*{sexo == 'F'}" NAME="sexo" VALUE="F"> Feminino
            </td>
        </tr>
        <tr>
            <td>Telefone Residencial: </td>
            <td><input th:value="*{telRes}" type="tel" name="telRes"/></td>

        </tr>
        <tr>
            <td>Telefone Celular: </td>
            <td><input th:value="*{telCel}" type="tel" name="telCel"/></td>

        </tr>
        <tr>
            <td>CEP: </td>
            <td><input th:value="*{cep}" type="number" name="cep"/></td>
        </tr>
        <tr>
            <td>UF: </td>
            <td><input th:value="*{uf}" size="1" maxlength="2" type="text" name="uf"/></td>
        </tr>
        <tr>
            <td>Cidade: </td>
            <td><input th:value="*{cidade}" type="text" name="cidade"/></td>
        </tr>
        <tr>
            <td>Pace: </td>
            <td><input th:value="*{pace}" type="text" name="pace"/></td>
        </tr>
        <tr>

            <td>Apelido: </td>
            <td><input th:value="*{apelido}" type="text" name="apelido"/></td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Editar"/>
</form>

</body>
</html>