<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<h1>Lista de Corridas</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="relatorio">Relatórios <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="administrador" class="dropdown-item">Administrador</a>
                    <a href="organizador" class="dropdown-item">Organizador</a>
                    <a href="atleta" class="dropdown-item">Atleta</a>
                    <a href="tapete" class="dropdown-item">Tapete</a>
                    <a href="categoria" class="dropdown-item">Categoria</a>
                    <a href="percurso" class="dropdown-item">Percurso</a>
                    <a href="corrida" class="dropdown-item">Corrida</a>
                    <a href="ranking" class="dropdown-item">Ranking</a>
                    <a href="kit" class="dropdown-item">Kit</a>
                    <a href="lote" class="dropdown-item">Lote</a>
                    <a href="ingresso" class="dropdown-item">Ingresso</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<table class="table table-hover table-dark">
    <tr>
        <td>ID</td>
        <td>Nome</td>
    </tr>
    <tr th:each="corrida : ${corridas}">
        <td th:text="${corrida.id}"></td>
        <td th:text="${corrida.nome}"></td>
        <td><a class="badge badge-light" th:href="@{'/corrida/edit/' + ${corrida.id}}" >Editar</a></td>
        <td><a class="badge badge-light" th:href="@{'/corrida/delete/' + ${corrida.id}}">Excluir</a></td>
    </tr>
</table>
<a class="badge badge-success" th:href="@{~/corrida/add}">Adicionar</a>
<a class="badge badge-success" href="/">Voltar</a>
</body>
</html>