<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<h2>Menu </h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a href="administrador" class="dropdown-item">Administrador</a>
                    <a href="organizador" class="dropdown-item">Organizador</a>
                    <a href="atleta" class="dropdown-item">Atleta</a>
                    <a href="tapete" class="dropdown-item">Tapete</a>
                    <a href="categoria" class="dropdown-item">Categoria</a>
                    <a href="percurso" class="dropdown-item">Percurso</a>
                    <a href="corrida" class="dropdown-item">Corrida</a>
                    <a href="ranking" class="dropdown-item">Ranking</a>
                    <a href="kit" class="dropdown-item">Kit</a>
                    <a href="lote" class="dropdown-item">Lote</a>
                    <a href="ingresso" class="dropdown-item">Ingresso</a>
                    <a href="pagamento" class="dropdown-item">Pagamento</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

    <a class="badge badge-info" href="administrador">Administrador</a>
    <a class="badge badge-info" href="organizador">Organizador</a>
    <a class="badge badge-info" href="atleta">Atleta</a>
    <a class="badge badge-info" href="tapete">Tapete</a>
    <a class="badge badge-info" href="categoria">Categoria</a>
    <a class="badge badge-info" href="percurso">Percurso</a>
    <a class="badge badge-info" href="corrida">Corrida</a>
    <a class="badge badge-info" href="ranking">Ranking</a>
    <a class="badge badge-info" href="kit">Kit</a>
    <a class="badge badge-info" href="lote">Lote</a>
    <a class="badge badge-info" href="ingresso">Ingresso</a>
    <a class="badge badge-info" href="pagamento">Pagamento</a>
</body>
</html>
