<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <h2>Menu </h2>
    <a href="administrador">Administrador</a>
    <a href="organizador">Organizador</a>
    <a href="atleta">Atleta</a>
    <a href="tapete">Tapete</a>
    <a href="categoria">Categoria</a>
    <a href="percurso">Percurso</a>
    <a href="corrida">Corrida</a>
    <a href="ranking">Ranking</a>
    <a href="kit">Kit</a>
    <a href="lote">Lote</a>
    <a href="ingresso">Ingresso</a>
    <a href="pagamento">Pagamento</a>
</body>
</html>