<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Adicionar </h1>

<form method="post">
    <table>
        <tr>
            <td>ID: </td>
            <td><input type="text" name="id"/></td>
        </tr>
        <td>
            <select  name="corrida">
                <option value="0">Selecione um Kit</option>
                <option th:each ="corrida : ${corridas}" th:value="${corrida.id}" th:text="${corrida.nome}"></option>
            </select>
        </td>
        </tr>
        <tr>
            <td>Lote: </td>
            <td>
                <select  name="categoria">
                    <option value="0">Selecione um Lote</option>
                    <option th:each ="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.descricao}"></option>
                </select>
            </td>

    </table>
    <input type="submit" value="Adicionar Ranking"/>
</form>

</body>
</html>