<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${tittle}" >Inscricao</title>
</head>
<body>
<h1 th:text="${tittle}">Inscricao</h1>

<th:block th:switch="${operacao}">

    <div th:case="'listar'">
        <table>
            <tr th:each="inscricao : ${inscricoes}">
                <td th:text="${inscricao.corrida.nome}">Nome corrida</td>
                <td th:text="${inscricao.corredor.nome}">Nome Corredor</td>
                <td><a th:href="@{'/inscricoes/edit/' + ${inscricao.id}}">Editar</a></td>
                <td><a th:href="@{'/inscricoes/delete/' + ${inscricao.id}}">Excluir</a></td>
            </tr>
        </table>
        <a th:href="@{~/inscricoes/add}">Adicionar</a>
    </div>
    <div th:case="'adicionar'">
        <form method="post">
            <select name="corrida">
                <option th:each="corrida : ${corridas}" th:value="${corrida.id}" th:text="${corrida.nome}"></option>
            </select>
            <select name="corredor">
                <option th:each="corredor : ${corredores}" th:value="${corredor.id}" th:text="${corredor.nome}"></option>
            </select>
            <input type="submit" value="Adicionar inscricao"/>
        </form>
    </div>

    <div th:case="'editar'">
        <form th:object="${inscricao}" method="post">
            <select name="corrida">
                <option th:each="corrida : ${corridas}" th:value="${corrida.id}" th:text="${corrida.nome}"></option>
            </select>
            <select name="corredor">
                <option th:each="corredor : ${corredores}" th:value="${corredor.id}" th:text="${corredor.nome}"></option>
            </select>
            <input type="submit" value="Editar inscricao"/>
        </form>
    </div>

    <div th:case="'deletar'">
        <form th:object="${inscricao}" method="post">
            <select name="corrida" disabled>
                <option th:each="corrida : ${corridas}" th:value="${corrida.id}" th:text="${corrida.nome}"></option>
            </select>
            <select name="corredor" disabled>
                <option th:each="corredor : ${corredores}" th:value="${corredor.id}" th:text="${corredor.nome}"></option>
            </select>
            <input type="submit" value="Deletar inscricao"/>
        </form>
    </div>

</th:block>
</body>
</html>