<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}"> Deletar </h1>

<form th:object="${tapete}" method="post">
    <table>
        <tr>
            <td>ID: </td>
            <td><input class="form-control" th:value="*{id}" type="text" name="id" disabled/></td>
        </tr>
        <tr>
            <td>Posição: </td>
            <td><input class="form-control" th:value="*{posicao}" type="text" name="posicao" disabled/></td>
        </tr>
        <tr>
            <td>Km: </td>
            <td><input class="form-control" th:value="*{km}" type="text" name="km" disabled/></td>
        </tr>
    </table>
    <input class="btn btn-outline-success" type="submit" value="Deletar"/>
</form>

</body>
</html>